
// Colors
$blue: #892cdc;
$dark-blue: #222831;
$light-grey: #f4f5f7;
$grey: #a6a9b6;
$green: #219653;
$lt-green: #27AE60;
$bl-green: #009245;
$white : #fff;
$black: #1E1E1E;
$box-shadow: 0 0 7px 0 rgba(0,0,0,.2);

$font: 'Montserrat', sans-serif;



