.popular-item{
    margin-top: 120px;
    @include mobile{
        margin-top: 60px;
    }
    .all-item{
        font-weight: 600;
        color: $lt-green;
        float: right;
        margin-right: 10px;
        @include mobile{
            display: none;
        }
    }

    .popular-item__slider{
        padding: 50px 0;
        overflow: hidden;
        @include mobile{
            width: 80%;
            overflow: visible;
            padding: 10px 0;
        }
    }
    .swiper{
        margin-left: 0;
    }

}