.about{
    .about-card{
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        margin-top: 30px;
        .about-card-slider{
            padding: 60px 80px;
            @include mobile{
                padding: 25px 25px 60px;
            }
            .about-card-slider__content{
                .abour-card__text{
                    font-weight: 400;
                    font-size: 16px;
                    text-align: left;
                }
            }
        }
        .about-card-img{
            height: 100%;
            @include mobile{
                height: 330px;
            }
            img{
                height: 100%;
                object-fit: cover;
                object-position: center center;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                @include mobile{
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 0px;
                }

            }
        }
        .about-card-slider{
            .swiper-pagination-bullet{
                width: 10px;
                height: 10px;
                background-color: #E3E3E3;
                opacity: 1;
            }
            .swiper-pagination-bullet-active{
                background-color: $green;
                box-shadow: none;
                transform: scale(1);
            }
            .swiper-button{
                position: relative;
                width: 200px;
                left: 50%;
                bottom: -20px;
                transform: translateX(-50%);
                z-index: 11;
                @include mobile{
                    display: none;
                }
            }
            .swiper-pagination{
                bottom: 30px;
            }
            .swiper-button-prev, .swiper-button-next{
                color: #ACADC0;
                &:after{
                    font-size: 22px;
                }
            }
        }
        .row{
            @include mobile{
                flex-direction: column-reverse;
            }
        }
    }
}
.about-question{
    margin-top: 120px;
    @include mobile{
        margin-top: 65px;
    }
    .question-content{
        padding: 50px 80px;
        background-image: url(/assets/images/question-img.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 5px;
        color: $white;
        @include mobile{
            padding: 35px 35px 80px;
        }
        .question-header{
            width: 450px;
            font-weight: 500;
            font-size: 32px;
            @include mobile{
                width: 100%;
                font-size: 22px;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            input{
                background-color: transparent;
                border-bottom: 1px solid $white;
                width: 330px;
                margin-bottom: 40px;
                color: $white;
                padding-left: 0;
                &::placeholder {
                    color: $white;
                }
                @include mobile{
                    width: 100%;
                }
            }
            button{
                background: $green;
                border-radius: 5px;
                padding: 16px;
                font-weight: bold;
                font-size: 14px;
                color: $white;
                width: 220px;
                transition: .2s;
                &:hover{
                    background: #197c44;
                }
            }
        }
    }
}