.calculat{
    .calculat-form{
        margin-top: 30px;
        display: flex;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        @include mobile{
            flex-direction: column;
        }
        .calculat-form__img{
            width: 35%;
            @include mobile{
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            img{
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
        .calculat-form__block{
            padding: 50px 70px;
            width: 100%;
            @include mobile{
                padding: 40px;
            }
            .calculat-form__item{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 20px;
                .form-display{
                    width: 150px;
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        margin: 5px;
                    }
                    input{

                        padding: 14px;
                        border: 1px solid $lt-green;
                        border-radius: 5px;
                        text-align: center;
                    }
                }
                .form-range{
                    width: 100%;
                    align-items: center;
                    @include mobile{
                        flex-direction: column;
                        border-bottom: 1px solid #E3E3E3;
                        padding-bottom: 40px;
                    }
                    .range{
                        -webkit-appearance: none;
                        background: $lt-green;
                        padding: 0;
                        height: 2px;
                        border: 1px solid $lt-green;
                        position: relative;
                        width: 90%;
                    }
                    .range::-webkit-slider-thumb{
                        -webkit-appearance: none;
                        background: $lt-green;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                    .range::before{
                        content: "0";
                        color: gray;
                        position: absolute;
                        top: 5px;
                        left: -3px;
                    }
                    .range::after{
                        content: "100";
                        color: gray;
                        position: absolute;
                        top: 5px;
                        right:-3px;
                    }
                    
                }
            }
            .form-range{
                margin-bottom: 30px;
                position: relative;
                display: flex;
                .js-price1, .js-price2, .js-price3{
                    padding: 14px;
                    border: 1px solid $lt-green;
                    border-radius: 5px;
                    text-align: center;
                    box-sizing: border-box;
                    width: 120px;
                }
            }
        }
        .total-calculate{
            display: flex;
            margin-left: 150px;
            justify-content: space-between;
            @include mobile{
                margin-left: 0;
            }
            p{
                font-size: 14px;
                font-weight: 400;
            }
            input{
                border: 1px solid #ACADC0;
                box-sizing: border-box;
                border-radius: 5px;
                width: 140px;
                padding: 12px;
                text-align: center;
                @include mobile{
                    width: 76px;
                }
            }
        }
    }
    .mdc-slider {
        margin: 0 20px 0 40px;
        width: 100%;
        transform: translateY(10px);
        @include mobile{
            margin: 0;
        }
        input {
            padding: 0;
        }
    
        & .mdc-slider__thumb::before,
        & .mdc-slider__thumb::after {
            background-color: transparent;
        }
    
        .mdc-slider__thumb-knob {
            background-color: $green !important;
            border: 2px solid $green !important;
        }
    
        .mdc-slider__track--inactive {
            background: $green !important;
            opacity: 1;
        }
    
        .mdc-slider__track--active {
            height: 4px;

        }
    
        .mdc-slider__track--active_fill {
            background-color: $green !important;
            border-color: $green !important;
        }
        .start{
            position: absolute;
            top: 0;
            left: 0;
            color: #6B6B6B;
            font-size: 12px;
            transform: translate(-4px, 8px);
            span{
                color: $green;
                font-weight: 700;
                font-size: 20px;
                display: block;
            }
        }
        .end{
            position: absolute;
            top: 0;
            right:0;
            color: #6B6B6B;
            font-size: 12px;
            transform: translate(18px, 8px);
            span{
                color: $green;
                font-weight: 700;
                font-size: 20px;
                display: block;
            }
        }
        .long{
            transform: translate(26px, 8px); 
        }
    }
}