.catalog{
    .sort-category{
        display: flex;
        @include mobile{
            margin-bottom: 35px;
        }
        p{
            font-size: 14px;
            color: $black;
            margin-bottom: 0;
        }
        .category{
            outline: none;
            border: none;
            color: $lt-green;
            font-size: 14px;
            font-weight: 600;
            option{
                border: none;
                font-size: 14px;
                font-weight: 600;
 
            }
        }
        
    }

}
.catalog-category{
    .catalog-category__item {
        padding: 12px 30px;
        margin-right: 40px;
    }
    .catalog-category__wrapper {
        display: flex;
        overflow-x: auto;
        scrollbar-color: #535355 #fff;
        padding-bottom: 10px;
    }
    .catalog-category__wrapper::-webkit-scrollbar-track {
        background-color: transparent;
    }
    .catalog-category__wrapper::-webkit-scrollbar {
        height: 5px;
        background-color: #FFF;
    }
    @media (max-width: 1023px) {
        .catalog-category__wrapper::-webkit-scrollbar {
          height: 6px;
        }
    }
    .catalog-category__wrapper::-webkit-scrollbar-thumb {
        background: $lt-green;
    }
      
    .catalog-category__item {
        border: 1px solid $lt-green;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        color: $black;
        padding: 14px 46px;
        position: relative;
        transition: all 0.3s;
        margin-right: 40px;
        white-space: nowrap;
    }
    .catalog-category__item.active {
        background: $lt-green;
        color: $white;
    }
    .catalog-category__item:hover {
        background: $lt-green;
    }
    .catalog-category__item input {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }
}

.catalog-wrapper{
    display: flex;
    justify-content: space-between;
    .left-menu{
        width: 23%;
    }
    .catalog-filter{
        width: 100%;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 30px;
        margin-top: 10px;
        .catalog-filter__item{
            margin-top: 40px;
            .catalog-filter__item_title{
                font-weight: 600;
                font-size: 17px;
            }
            .catalog-filtr__item_check {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }
            .catalog-filtr__item_check:last-child {
                margin-bottom: 0;
            }
            .catalog-filtr__item_check span {
                font-weight: 500;
                font-size: 14px;
                color: $black;
                padding-left: 8px;
            }
            input{
                width: 16px;
                height: 16px;
            }
            .checkbox {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: 2px;
                border: 1px solid #C7C7C7;
                min-width: 16px;
                height: 16px;
                cursor: pointer;
                position: relative;
                transition: all 0.3s;
            }
              
            .checkbox::before {
                content: url(/assets/images/icons/checkbox.svg);
                position: absolute;
                right: 50%;
                bottom: 50%;
                transform: translate(50%, 50%);
                opacity: 0;
                transition: 0.1s ease-in;
            }
              
            .checkbox:checked {
                border: 1px solid $green;
            }
            .checkbox:checked::before {
                opacity: 1;
            }
        }
        .catalog-filter__resset-btn{
            margin-top: 50px;
            padding: 15px;
            width: 100%;
            font-weight: bold;
            font-size: 14px;
            color: $white;
            border-radius: 5px;
            background: $green;
            transition: .3s;
            &:hover{
                background: $bl-green;
            }
        }
    }
    .catalog-info{
        width: 100%;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 30px;
        margin-top: 40px;
        .catalog-info__accordion_section{
            display: flex;
            flex-direction: column;
            a, p{
                font-size: 14px;
                color: $black;
                margin-bottom: 10px;
            }

        }
        .accordion {
            color: $black;
            padding: 10px 0;
            width: 100%;
            text-align: left;
            outline: none;
            transition: 0.4s;
        }
        .active{
            color: $bl-green;
            font-weight: 600;
            transition: .2s;
        }
        .accordion:after {
            content: url(/assets/images/icons/footer-arrow.svg);
            font-size: 20px;
            color: $black;
            float: right;
            margin-left: 5px;
            transition: .3s;
            transform: translateY(-5px);
        }
          
        .active:after {
            content: url(/assets/images/icons/catalog-green-arr.svg);
            transform: rotateZ(-180deg) ;
        }
        .panel {
            display: none;
            overflow: hidden;
            background: none;
        }
    }
    .catalog-cards{
        width: 76%;
        display: flex;
        flex-wrap: wrap;
        .item__card{
            max-height: 410px;
        }
    }
}