.contacts{

    .contact-info{
        .contact-info__method{
            padding: 55px 80px 15px;
        }
        .contact-info__method_item{
            display: flex;
            margin-bottom: 40px;
            .method-img{
                width: 32px;
            }
            .method-text{
                margin-left: 24px;
                .method-text__title{
                    font-weight: bold;
                    font-size: 14px;
                    color: #C4C4C4;
                    margin-bottom: 0;
                    text-transform: uppercase;
                }
                .method-text__content{
                    font-size: 14px;
                    font-weight: 400;
                    color: $black;
                }
            }
        }
        .contact-info__maps{
            margin-top: 40px;
            border-radius: 10px;
            iframe{
                border-radius: 10px;
            }
        }
        .contact-info__social{
            padding: 25px 80px 30px;
            margin-top: 40px;
            .social-title{
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                color: #C4C4C4;
                text-align: center;
                margin-bottom: 25px;
            }
            .social-links{
                display: flex;
                justify-content: space-between;
            }
            img{
                width: 40px;
            }
        }
    }




    .contact-card{
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }
}