.wrapper{
    margin-bottom: 50px;
}
.wrapper-slider{
    height: 480px;
    overflow: hidden;
    position: relative;
    @include mobile{
        height: 230px;
    }
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        background-color: #E3E3E3;
        opacity: 1;
    }
    .swiper-pagination-bullet-active{
        background-color: $green;
        box-shadow: none;
        transform: scale(1);
    }
    .swiper-slide{
        cursor: pointer;
    }
}



