<section class="choice">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                <h2 class="section-header">
                    Почему выбирают нас
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="choice-card">
                    <div class="card-img">
                        <img src="assets/images/choice-img-1.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <h3 class="card-text__header">
                            Поставки от производителя
                        </h3>
                        <p class="card-text__info">
                            Пиломатериалы изготавливаются из высококачественной древесины. Пиломатериалы с нашей базы удовлетворят эстетический вкус покупателя и прослужат долгие годы.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="choice-card">
                    <div class="card-img">
                        <img src="assets/images/choice-img-2.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <h3 class="card-text__header">
                            Профессиональная обработка
                        </h3>
                        <p class="card-text__info">
                            Особое значение мы придаем точности и аккуратности. Поэтому выпускаем продукцию идеальной геометрической формы, строго соответствующую указанным размерам.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="choice-card">
                    <div class="card-img">
                        <img src="assets/images/choice-img-3.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <h3 class="card-text__header">
                            Выгодные цены
                        </h3>
                        <p class="card-text__info">
                            Розничная стоимость за куб уже намного выгоднее предложений конкурентов. Тем не менее мы разработали множество специальных программ и вариантов расчета.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>