<section class="fabric-info">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                <h2 class="section-header">
                    Пиломатериалы от производителя
                </h2>
            </div>
        </div>
        <div class="info-card">
            <div class="info-card__text">
                <p>
                    В нашей стране к лесу относятся с особой взыскательностью. Поэтому строительные пиломатериалы должны соответствовать высоким требованиям. И это непростая задача.
                </p>
            </div>
            <div class="info-card__img">
                <img src="assets/images/info-card-img1.jpg" alt="">
            </div>
        </div>
        <div class="info-card revers-card">
            <div class="info-card__text">
                <p>
                    Наша компания долгие годы работает на рынке и получила общенародное признание. Одно из доказательств – номинация в категории «Национальная марка качества».
                </p>
            </div>
            <div class="info-card__img">
                <img src="assets/images/info-card-img2.jpg" alt="">
            </div>
        </div>
    </div>
</section>