<footer class="footer" id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="assets/images/logo.svg" alt="">
            </div>
            <div class="footer-section">
                <h3 class="section-header">
                    Покупателям
                </h3>
                <a class="section-link" href="#">Акции</a>
                <a class="section-link" href="#">Скидки</a>
                <a class="section-link" href="#">Возврат товара</a>
                <a class="section-link" href="#">Способы оплаты</a>
                <a class="section-link" href="#">Для юридических лиц</a>
                <a class="section-link" href="#">Зарегестрировать карту</a>
                <a class="section-link" href="#">Подарочные сертификаты</a>
            </div>
            <div class="footer-section">
                <h3 class="section-header">
                    Услуги
                </h3>
                <a class="section-link" href="#">Доставка и подъем</a>
                <a class="section-link" href="#">Самовывоз</a>
                <a class="section-link" href="#">Распил</a>
                <a class="section-link" href="#">Прокат инструмента</a>
                <a class="section-link" href="#">Расчет материалов</a>
                <a class="section-link" href="#">Установка дверей</a>
            </div>
            <div class="footer-section__contact t-transform">
                <h3 class="section-header">
                    НАШ АДРЕС
                </h3>
                <a class="section-link" href="#">г. Москва, ул. Стародубова 19</a>
                <h3 class="section-header t-transform">
                    Время работы
                </h3>
                <p>Пн-пт 09:00-18:00</p>
                <h3 class="section-header t-transform">
                    CЛУЖБА ПОДДЕРЖКИ
                </h3>
                <a class="section-link" href="mailto:service.drevoteka@.ru">service.drevoteka@.ru</a>
                <div class="footer-social">
                    <a href="#">
                        <img src="assets/images/header__social_wa.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="assets/images/header__social_vk.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="assets/images/header__social_tg.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="footer-mob-content">
                <div class="footer-mob-section">
                    <div class="footer-mob__accordion accordion-container">
                        <button class="accordion section-header accordion-btn">Покупателям</button>
                        <div class="panel">
                            <div class="footer__section ">
                                <a class="section-link" href="#">Акции</a>
                                <a class="section-link" href="#">Скидки</a>
                                <a class="section-link" href="#">Возврат товара</a>
                                <a class="section-link" href="#">Способы оплаты</a>
                                <a class="section-link" href="#">Для юридических лиц</a>
                                <a class="section-link" href="#">Зарегестрировать карту</a>
                                <a class="section-link" href="#">Подарочные сертификаты</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-mob-section">
                    <div class="footer-mob__accordion accordion-container">
                        <button class="accordion section-header accordion-btn">Услуги</button>
                        <div class="panel">
                            <div class="footer__section ">
                                <a class="section-link" href="#">Доставка и подъем</a>
                                <a class="section-link" href="#">Самовывоз</a>
                                <a class="section-link" href="#">Распил</a>
                                <a class="section-link" href="#">Прокат инструмента</a>
                                <a class="section-link" href="#">Расчет материалов</a>
                                <a class="section-link" href="#">Установка дверей</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-section t-transform ">
                    <h3 class="section-header">
                        НАШ АДРЕС
                    </h3>
                    <a class="section-link" href="#">г. Москва, ул. Стародубова 19</a>
                    <h3 class="section-header t-transform">
                        Время работы
                    </h3>
                    <p>Пн-пт 09:00-18:00</p>
                    <h3 class="section-header t-transform">
                        CЛУЖБА ПОДДЕРЖКИ
                    </h3>
                    <a class="section-link" href="mailto:service.drevoteka@.ru">service.drevoteka@.ru</a>
                    <div class="footer-social">
                        <a href="#">
                            <img src="assets/images/header__social_wa.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="assets/images/header__social_vk.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="assets/images/header__social_tg.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="footer-copyright">
            <hr>
            <div class="copyright-text">
                © 2004–2021 РосЛесСнаб
            </div>
        </div>
    </div>
</footer>