<header class="header" id="header">
    <div class="container">
        <div class="header-content">
            <div class="header__left">
                <div class="header-logo">
                    <a href="index.html">
                        <img src="assets/images/logo.svg" alt="">
                    </a>
                </div>
                <div class="header-catalog">
                    <a class="catalog-link" href="catalog.html">Каталог</a>
                </div>
            </div>
            <div class="header__right">
                <div class="header-top">
                    <div class="header-menu">
                        <div class="header-menu__top">
                             <a class="header__map" href="https://www.google.com.ru/maps">г. Москва, ул. Стародубова 19</a>
                             <a class="header__tel" href="tel:+74957661619">+7 (495) 766-16-19</a>
                             <div class="header__social">
                                 <a href="#">
                                     <img src="assets/images/header__social_wa.svg" alt="">
                                 </a>
                                 <a href="#">
                                     <img src="assets/images/header__social_vk.svg" alt="">
                                 </a>
                                 <a href="#">
                                     <img src="assets/images/header__social_tg.svg" alt="">
                                 </a>
                             </div>
                             <div class="header__order">
                                 <div class="order__trash">
                                     <a href="trash.html"><img class="order__trash_img" src="assets/images/header__trash.svg" alt=""></a> 
                                     <p class="order__text">Корзина пуста</p>
                                 </div>
                                 <a href="calculate.html" class="order__calculate">
                                     Калькулятор расчета
                                 </a>
                             </div>
                        </div>
                        <nav class="heder__nav-bar">
                            <ul>
                                <li class="menu-item"><a href="about.html">О нас</a></li>
                                <li class="menu-item"><a href="about.html">Бани на заказ</a></li>
                                <li class="menu-item"><a href="partner.html">Партнерам</a></li>
                                <li class="menu-item"><a href="contacts.html">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="search">
                        <input type="text" class="serch" placeholder="Введите поисковый запрос"> 
                        <a href="#"><img src="assets/images/header__search.svg" alt=""></a>
                    </div>
                    <div class="header__elem">
                        <div class="favorit">
                            <a href="#"><img src="assets/images/header__favorit.svg" alt=""></a>
                            <p>Избранное</p>
                        </div>
                        <div class="comparison">
                            <a href="#"><img src="assets/images/header__comparison.svg" alt=""></a>
                            <p>Сравнение</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="header-mobile">
        <div class="header-top">
            <div class="burger-menu">
                <input type="checkbox" id="menu-toggle"/>
                <label id="trigger" for="menu-toggle"></label>
                <label id="burger" for="menu-toggle"></label>
                <ul id="menu">
                    <li class="menu-item"><a href="about.html">О нас</a></li>
                    <li class="menu-item"><a href="about.html">Бани на заказ</a></li>
                    <li class="menu-item"><a href="partner.html">Партнерам</a></li>
                    <li class="menu-item"><a href="contacts.html">Контакты</a></li>
                </ul>
            </div>
            <div class="header__social">
                <a href="#"><img src="assets/images/icons/mob-soc1.svg" alt=""></a>
                <a href="#"><img src="assets/images/icons/mob-soc2.svg" alt=""></a>
                <a href="#"><img src="assets/images/icons/mob-soc3.svg" alt=""></a>
            </div>
            <div class="trash">
                <a href="#">
                    <img src="assets/images/icons/mob-trash.svg" alt="">
                </a>
            </div>
        </div>
        <div class="container">
            <div class="header-center">
                <div class="center-logo">
                    <a href="index.html">
                        <img src="assets/images/logo.svg" alt="">
                    </a>
                </div>
                <div class="center-menu">
                    <div class="center-menu__catalog">
                        <a href="catalog.html">Каталог</a>
                    </div>
                    <div class="center-menu__calc">
                        <a href="catalog.html">Каталог</a>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="search">
                    <input type="text" class="serch" placeholder="Введите поисковый запрос"> 
                    <a href="#"><img src="assets/images/header__search.svg" alt=""></a>
                </div>
            </div>
        </div>
        
    </div>
</header>