<div class="product-popup ">
    <div class="popup-content">
        <div class="product-img">
            <img src="assets/images/card-img.jpg" alt="">
        </div>
        <div class="product-info">
            <h3 class="product-info__title">
                Товар добавлен в корзину
            </h3>
            <p class="product-info__name">
                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
            </p>
            <p class="product-info__result">
                Итого в вашей <a href="">корзине</a> 1 товар на сумму 17 348 р

            </p>
            <div class="product-info__btn">
                <a class="product-info__btn_link" href="#">Перейти к оформлению</a>
                <button class="product-info__btn_continue">Продолжить покупки</button>
            </div>
        </div>
    </div>
</div>