<section class="recommended-item">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                <h2 class="section-header">
                    Рекомендуемые товары
                </h2>
            </div>
        </div>
        <div class="desctop-item">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="mob-slider">
            <div class="swiper recomended-item__slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="item__card">
                        <div class="card-img">
                            <img src="assets/images/card-img.jpg" alt="">
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <h3 class="card__item-name">
                            Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                        </h3>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item__card">
                        <div class="card-img">
                            <a href="#">
                                <img src="assets/images/card-img.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-stars">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star.svg" alt="">
                            <img src="assets/images/icons/card-star-gr.svg" alt="">
                        </div>
                        <a href="#">
                            <h3 class="card__item-name">
                                Фанера ФК 3 мм 1525х1525, сорт 4/4, нешлифованная, берёза
                            </h3>
                        </a>
                        <div class="card-price">
                            <div class="price">
                                <p class="new-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                                <p class="old-price">
                                    от <span>17 348.74</span> ₽
                                </p>
                            </div>
                            <div class="trash">
                                <img src="assets/images/icons/card-trash.svg" alt="">
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="show-btn" href="catalog.html">Показать еще</a>
        </div> 
    </div>
</section>