<section class="why">
    <div class="container">
        <div class="why-content">
            <div class="why-card">
                <div class="card-img">
                    <img src="assets/images/why-card__img1.svg" alt="">
                </div>
                <h3 class="card-header">
                    Большой ассортимент
                </h3>
                <p class="card-text">
                    Строительных материалов, которые всегда в наличии
                </p>
            </div>
            <div class="why-card">
                <div class="card-img">
                    <img src="assets/images/why-card__img2.svg" alt="">
                </div>
                <h3 class="card-header">
                    Доставка стройматериалов
                </h3>
                <p class="card-text">
                    Строительных материалов, которые всегда в наличии
                </p>
            </div>
            <div class="why-card">
                <div class="card-img">
                    <img src="assets/images/why-card__img3.svg" alt="">
                </div>
                <h3 class="card-header">
                    Возврат товара
                </h3>
                <p class="card-text">
                    Строительных материалов, которые всегда в наличии
                </p>
            </div>
            <div class="why-card">
                <div class="card-img">
                    <img src="assets/images/why-card__img4.svg" alt="">
                </div>
                <h3 class="card-header">
                    Качественные товары
                </h3>
                <p class="card-text">
                    Строительных материалов, которые всегда в наличии
                </p>
            </div>
        </div>
    </div>
</section>

